@charset "UTF-8";
/* Skeleton css with #recolorIt namespace */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/
#recolorIt {
  /* Grid
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* For devices larger than 400px */
  /* For devices larger than 550px */
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Larger than phablet */
  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Removes awkward default styles on some inputs for iOS */
  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Self Clearing Goodness */
  /* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */
  /* Larger than mobile */
  /* Larger than phablet (also point when grid becomes active) */
  /* Larger than tablet */
  /* Larger than desktop */
  /* Larger than Desktop HD */
}

#recolorIt .container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

#recolorIt .column,
#recolorIt .columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

@media (min-width: 400px) {
  #recolorIt .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  #recolorIt {
    /* Offsets */
  }
  #recolorIt .container {
    width: 80%;
  }
  #recolorIt .column,
  #recolorIt .columns {
    margin-left: 4%;
  }
  #recolorIt .column:first-child,
  #recolorIt .columns:first-child {
    margin-left: 0;
  }
  #recolorIt .one.column,
  #recolorIt .one.columns {
    width: 4.66666666667%;
  }
  #recolorIt .two.columns {
    width: 13.3333333333%;
  }
  #recolorIt .three.columns {
    width: 22%;
  }
  #recolorIt .four.columns {
    width: 30.6666666667%;
  }
  #recolorIt .five.columns {
    width: 39.3333333333%;
  }
  #recolorIt .six.columns {
    width: 48%;
  }
  #recolorIt .seven.columns {
    width: 56.6666666667%;
  }
  #recolorIt .eight.columns {
    width: 65.3333333333%;
  }
  #recolorIt .nine.columns {
    width: 74.0%;
  }
  #recolorIt .ten.columns {
    width: 82.6666666667%;
  }
  #recolorIt .eleven.columns {
    width: 91.3333333333%;
  }
  #recolorIt .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  #recolorIt .one-third.column {
    width: 30.6666666667%;
  }
  #recolorIt .two-thirds.column {
    width: 65.3333333333%;
  }
  #recolorIt .one-half.column {
    width: 48%;
  }
  #recolorIt .offset-by-one.column,
  #recolorIt .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }
  #recolorIt .offset-by-two.column,
  #recolorIt .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  #recolorIt .offset-by-three.column,
  #recolorIt .offset-by-three.columns {
    margin-left: 26%;
  }
  #recolorIt .offset-by-four.column,
  #recolorIt .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  #recolorIt .offset-by-five.column,
  #recolorIt .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  #recolorIt .offset-by-six.column,
  #recolorIt .offset-by-six.columns {
    margin-left: 52%;
  }
  #recolorIt .offset-by-seven.column,
  #recolorIt .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  #recolorIt .offset-by-eight.column,
  #recolorIt .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  #recolorIt .offset-by-nine.column,
  #recolorIt .offset-by-nine.columns {
    margin-left: 78.0%;
  }
  #recolorIt .offset-by-ten.column,
  #recolorIt .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  #recolorIt .offset-by-eleven.column,
  #recolorIt .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  #recolorIt .offset-by-one-third.column,
  #recolorIt .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  #recolorIt .offset-by-two-thirds.column,
  #recolorIt .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  #recolorIt .offset-by-one-half.column,
  #recolorIt .offset-by-one-half.columns {
    margin-left: 52%;
  }
}

#recolorIt html {
  font-size: 62.5%;
}

#recolorIt body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

#recolorIt h1, #recolorIt h2, #recolorIt h3, #recolorIt h4, #recolorIt h5, #recolorIt h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

#recolorIt h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

#recolorIt h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

#recolorIt h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

#recolorIt h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

#recolorIt h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

#recolorIt h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@media (min-width: 550px) {
  #recolorIt h1 {
    font-size: 5.0rem;
  }
  #recolorIt h2 {
    font-size: 4.2rem;
  }
  #recolorIt h3 {
    font-size: 3.6rem;
  }
  #recolorIt h4 {
    font-size: 3.0rem;
  }
  #recolorIt h5 {
    font-size: 2.4rem;
  }
  #recolorIt h6 {
    font-size: 1.5rem;
  }
}

#recolorIt p {
  margin-top: 0;
}

#recolorIt a {
  color: #1EAEDB;
}

#recolorIt a:hover {
  color: #0FA0CE;
}

#recolorIt .button,
#recolorIt button,
#recolorIt input[type="submit"],
#recolorIt input[type="reset"],
#recolorIt input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

#recolorIt .button:hover,
#recolorIt button:hover,
#recolorIt input[type="submit"]:hover,
#recolorIt input[type="reset"]:hover,
#recolorIt input[type="button"]:hover,
#recolorIt .button:focus,
#recolorIt button:focus,
#recolorIt input[type="submit"]:focus,
#recolorIt input[type="reset"]:focus,
#recolorIt input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

#recolorIt .button.button-primary,
#recolorIt button.button-primary,
#recolorIt input[type="submit"].button-primary,
#recolorIt input[type="reset"].button-primary,
#recolorIt input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

#recolorIt .button.button-primary:hover,
#recolorIt button.button-primary:hover,
#recolorIt input[type="submit"].button-primary:hover,
#recolorIt input[type="reset"].button-primary:hover,
#recolorIt input[type="button"].button-primary:hover,
#recolorIt .button.button-primary:focus,
#recolorIt button.button-primary:focus,
#recolorIt input[type="submit"].button-primary:focus,
#recolorIt input[type="reset"].button-primary:focus,
#recolorIt input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

#recolorIt input[type="email"],
#recolorIt input[type="number"],
#recolorIt input[type="search"],
#recolorIt input[type="text"],
#recolorIt input[type="tel"],
#recolorIt input[type="url"],
#recolorIt input[type="password"],
#recolorIt textarea,
#recolorIt select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

#recolorIt input[type="email"],
#recolorIt input[type="number"],
#recolorIt input[type="search"],
#recolorIt input[type="text"],
#recolorIt input[type="tel"],
#recolorIt input[type="url"],
#recolorIt input[type="password"],
#recolorIt textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#recolorIt textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#recolorIt input[type="email"]:focus,
#recolorIt input[type="number"]:focus,
#recolorIt input[type="search"]:focus,
#recolorIt input[type="text"]:focus,
#recolorIt input[type="tel"]:focus,
#recolorIt input[type="url"]:focus,
#recolorIt input[type="password"]:focus,
#recolorIt textarea:focus,
#recolorIt select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

#recolorIt label,
#recolorIt legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

#recolorIt fieldset {
  padding: 0;
  border-width: 0;
}

#recolorIt input[type="checkbox"],
#recolorIt input[type="radio"] {
  display: inline;
}

#recolorIt label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

#recolorIt ul {
  list-style: circle inside;
}

#recolorIt ol {
  list-style: decimal inside;
}

#recolorIt ol, #recolorIt ul {
  padding-left: 0;
  margin-top: 0;
}

#recolorIt ul ul,
#recolorIt ul ol,
#recolorIt ol ol,
#recolorIt ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

#recolorIt li {
  margin-bottom: 1rem;
}

#recolorIt code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

#recolorIt pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

#recolorIt th,
#recolorIt td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

#recolorIt th:first-child,
#recolorIt td:first-child {
  padding-left: 0;
}

#recolorIt th:last-child,
#recolorIt td:last-child {
  padding-right: 0;
}

#recolorIt button,
#recolorIt .button {
  margin-bottom: 1rem;
}

#recolorIt input,
#recolorIt textarea,
#recolorIt select,
#recolorIt fieldset {
  margin-bottom: 1.5rem;
}

#recolorIt pre,
#recolorIt blockquote,
#recolorIt dl,
#recolorIt figure,
#recolorIt table,
#recolorIt p,
#recolorIt ul,
#recolorIt ol,
#recolorIt form {
  margin-bottom: 2.5rem;
}

#recolorIt .u-full-width {
  width: 100%;
  box-sizing: border-box;
}

#recolorIt .u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

#recolorIt .u-pull-right {
  float: right;
}

#recolorIt .u-pull-left {
  float: left;
}

#recolorIt hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

#recolorIt .container:after,
#recolorIt .row:after,
#recolorIt .u-cf {
  content: "";
  display: table;
  clear: both;
}
